# required dependencies for https://github.com/WolfgangFahl/pyOpenSourceProjects
# https://github.com/WolfgangFahl/py-3rdparty-mediawiki
py-3rdparty-mediawiki>=0.6.1
# https://pypi.org/project/pylodstorage/
pylodstorage>=0.2.0
